body{
    text-align: center;
    
}
#olympiads{
    font-size: 30px;
}
#heading1{
    text-align: left;
}
#heading2{
    text-align: left;
}
#throphy{
    width: 350px;
}
#fancy{
    font-size: 30px;
}
#heading3{
    text-align: left;
}
#anna{
    font-size: 40px;
}